body{ 
    display: grid;
    justify-items: center;
    text-align: center;
    margin: 0%;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid blue;
}

.login-form>input {
    margin: 1em;
    padding: 5px;
}

.login-form>input[type="submit"] {
    background-color: blue;
    border-radius: 15px;
    border: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
    margin: 0 40px 10px ;
}
